name: Trust 2.0

on: [push, pull_request]

jobs:
  install-cross:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          depth: 50
      - name: Install Cross
        uses: ./actions/get-github-release
        id: cross
        with:
          owner: rust-embedded
          repo: cross
          matches: ${{ matrix.platform }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload cross artifact
        uses: actions/upload-artifact@v1
        with:
          name: cross-${{ matrix.platform }}
          path: ${{ steps.cross.outputs.install_path }}
    strategy:
      matrix:
        platform: [linux-musl, apple-darwin]

  windows:
    runs-on: windows-latest
    # Windows technically doesn't need this, but if we don't block windows on it
    # some of the windows jobs could fill up the concurrent job queue before
    # one of the install-cross jobs has started, so this makes sure all
    # artifacts are downloaded first.
    needs: install-cross
    steps:
      - uses: actions/checkout@v1
        with:
          depth: 50
      - name: Set Rust Version & Target
        run: bash ci/set_rust_version.bash ${{ matrix.channel }} ${{ matrix.target }}
      - name: Build
        run: cargo build --workspace --target ${{ matrix.target }}
      - name: Test
        run: cargo test --workspace --target ${{ matrix.target }}
    strategy:
      fail-fast: true
      matrix:
        channel: [stable, beta, nightly]
        target:
          # MSVC
          # - i686-pc-windows-msvc
          - x86_64-pc-windows-msvc
          # GNU
          # - i686-pc-windows-gnu
          # - x86_64-pc-windows-gnu

  macos:
    runs-on: macos-latest
    needs: install-cross
    steps:
      - uses: actions/checkout@v1
        with:
          depth: 50
      - name: Download Cross
        uses: actions/download-artifact@v1
        with:
          name: cross-apple-darwin
          path: /usr/local/bin/
      - name: Make Cross Executable
        run: chmod +x /usr/local/bin/cross
      - name: Set Rust Version & Target
        run: ci/set_rust_version.bash ${{ matrix.channel }} ${{ matrix.target }}
      - name: Build
        run: cross build --workspace --target ${{ matrix.target }}
      - name: Test
        run: cross test --workspace --target ${{ matrix.target }}
        # Only test on macOS platforms since we can't simulate the others.
        if: matrix.target == 'x86_64-apple-darwin'
    strategy:
      fail-fast: true
      matrix:
        channel: [stable, beta, nightly]
        target:
          # macOS
          - x86_64-apple-darwin
          # iOS
          # - aarch64-apple-ios
          # - armv7-apple-ios
          # - armv7s-apple-ios
          # - i386-apple-ios
          # - x86_64-apple-ios
        exclude:
          # There are no beta or nightly versions of these platforms available.
          - target: armv7-apple-ios
            channel: beta
          - target: armv7-apple-ios
            channel: nightly
          - target: armv7s-apple-ios
            channel: beta
          - target: armv7s-apple-ios
            channel: nightly
          - target: i386-apple-ios
            channel: beta
          - target: i386-apple-ios
            channel: nightly

  linux:
    runs-on: ubuntu-latest
    needs: install-cross
    steps:
      - uses: actions/checkout@v1
        with:
          depth: 50
      - name: Download Cross
        uses: actions/download-artifact@v1
        with:
          name: cross-linux-musl
          path: /tmp/
      - name: Make Cross Executable
        run: chmod +x /tmp/cross
      - name: Set Rust Version & Target
        run: ci/set_rust_version.bash ${{ matrix.channel }} ${{ matrix.target }}
      - name: Build
        run: /tmp/cross build --target ${{ matrix.target }}
      - name: Test
        run: /tmp/cross test --target ${{ matrix.target }}
    strategy:
      fail-fast: false
      matrix:
        channel: [stable, beta, nightly]
        target:
          # - aarch64-unknown-linux-gnu
          # - arm-unknown-linux-gnueabi
          # - armv7-unknown-linux-gnueabihf
          # - i686-unknown-linux-gnu
          # - i686-unknown-linux-musl
          # - mips-unknown-linux-gnu
          # - mips64-unknown-linux-gnuabi64
          # - mips64el-unknown-linux-gnuabi64
          # - mipsel-unknown-linux-gnu
          # - powerpc-unknown-linux-gnu
          # - powerpc64-unknown-linux-gnu
          # - powerpc64le-unknown-linux-gnu
          # - s390x-unknown-linux-gnu
          # - x86_64-unknown-linux-gnu
          # - x86_64-unknown-linux-musl
          - aarch64-linux-android
          - arm-linux-androideabi
          - armv7-linux-androideabi
          - i686-linux-android
          - x86_64-linux-android
